*{
    padding: 0px;
    margin: 0px;
}
body
{
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  font-style: oblique;
 
  text-align: center;
}
h1
{
    color:darkred;
}
form
{
    margin-top: 7%;
    border:1px solid white;
    background-color: white;    
}
h3
{  
    color:darkred;   
}
.mb-3
{
  color:black;
}
#uname
{
    width: 50%;
margin-left: 25%;
}
#pwd
{
    width: 50%;
margin-left: 25%;
}