*{
    padding: 0px;
    margin: 0px;
}
body
{
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  font-style: oblique;
 
  text-align: center;
}
h1
{
    color:darkblue;
}

form
{
    margin-top: 20%;
     
}
h3
{
   
    color:darkred;
    
}
.mb-3
{
  color:black;
}