*{
    padding: 0px;
    margin: 0px;
}

table
{
    margin-left: 10%;
    width:80%;
}
#box
{
    float:right;
}
#idnum
{ 
    color:chocolate;
    font-size:larger;
}
#title
{
    color:chocolate;
    font-size:larger; 
}

#status
{
    float:right;
    color:chocolate;
    font-size:larger;
}
.nav-item
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:300px;
}



