*{
    padding: 0px;
    margin: 0px;
}
#idnum
{ 
    color:chocolate;
    font-size:larger;
}
#title
{
    color:chocolate;
    font-size:larger;

}
#status
{
    color:chocolate;
    font-size:larger;   
}
.nav-item1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:x-large;
    font-style: italic;
    float:left;  
}
.nav-item2
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:x-large;
    font-style: italic;     
}



